body {
    background-color: rgba(21, 0, 34, 0.97);
    color: rgb(234, 230, 185);

}
header{
    text-align: center;
    

}
section{
    background: rgba(52, 50, 50, 0.352);
    border-radius: 20px;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.331);
    

}
div {text-align: center;
    padding : 10px;
    font: normal 15px Arial;
    margin: 5px;

} 
footer{
    text-align: center;
    font-style: italic;

}